<form>
	<fieldset>
		<legend>Create a new Project</legend>
		<label>Project Name</label>
		<input type="text" placeholder="Enter name of the Project you want to Create"/><br/>
		<button type="submit" class="btn">Submit</button>
	</fieldset>
</form>
